<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>LiveTV!</title>
  <link href="/assert/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assert/css/solid.min.css" rel="stylesheet" />
  <link href="/assert/css/all.min.css" rel="stylesheet" />
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  <link href="/assert/css/index.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <h1>LiveTV! <small>Use Youtube live as IPTV feeds</small></h1>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title">Channel Manager</h3>
      </div>
      <div class="card-body">
        <form role="form" action="/api/newchannel" method="POST">
          <div class="form-group">
            <label for="inputChannelName">Name</label>
            <input type="text" class="form-control" id="inputChannelName" name="name" required />
          </div>
          <div class="form-group">
            <label for="inputChannelLiveURL">URL</label>
            <input type="text" class="form-control" id="inputChannelLiveURL" name="url" required />
          </div>
          <div class="form-check">
            <input type="checkbox" id="inputChannelProxy" class="form-check-input" name="proxy" />
            <label class="form-check-label" for="inputChannelProxy">Proxy stream </label>
          </div>
          <button type="submit" class="btn btn-outline-secondary">Add Channel</button>
        </form>
      </div>
      <div style="overflow-x: auto;">
        <table class="table table-striped table-condensed">
          <tr>
            <th>#</th>
            <th>Channel</th>
            <th>Live</th>
            <th>M3U8</th>
            <th>Proxy</th>
            <th><i class="menu fa-solid fa-bars"></i></th>
          </tr>
          {{range .Channels}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.URL}}</td>
            <td>{{.M3U8}}</td>
            <td>{{ if .Proxy }}<span class="fa-solid fa-check" aria-hidden="true"></span>{{ end }}</td>
            <td>
              {{ if .ID }}
              <a onclick='javascript:updateChannel({{.ID}}, {{.Name}}, {{.URL}}, {{.Proxy}})'><span
                  class="fa-solid fa-edit" aria-hidden="true"></span></a>
              <a onclick='javascript:deleteChannel({{.ID}}, {{.Name}})'><span class="fa-solid fa-trash"
                  aria-hidden="true"></span></a>
              {{ end }}
            </td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-white bg-info">
        <h3 class="card-title">Config Manager</h3>
      </div>
      <div class="card-body">
        <form role="form" action="/api/updconfig" method="POST">
          <div class="form-group">
            <label for="inputCommand">Youtube-dl Command</label>
            <div class="input-group">
              <input type="text" class="form-control" id="inputCommand" name="cmd" value="{{.Configs.Cmd}}" disabled />
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="allow-edit-button-cmd">Allow Edit</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputArgs">Youtube-dl Args</label>
            <div class="input-group">
              <input type="text" class="form-control" id="inputArgs" name="args" value="{{.Configs.Args}}" disabled />
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="allow-edit-button-args">Allow Edit</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputBaseURL">BaseURL</label>
            <div class="input-group">
              <input type="url" class="form-control" id="inputBaseURL" name="baseurl" value="{{.Configs.BaseURL}}" />
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="auto-fill-button">Auto Fill</button>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-secondary">Save Config</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-white bg-info">
        <h3 class="card-title">Change Password</h3>
      </div>
      <div class="card-body">
        <form role="form" action="/api/changepwd" method="POST">
          <div class="form-group">
            <label for="inputPassword">New Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="inputPassword" name="password" required />
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2">Repeat Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="inputPassword2" name="password2" required />
            </div>
          </div>
          <button type="submit" class="btn btn-outline-secondary">Change</button>
        </form>
      </div>
    </div>
    <footer class="text-center">
      <a href="https://github.com/zjyl1994/livetv">LiveTV!</a> by <a href="https://github.com/zjyl1994">zjyl1994</a>.
      Made with <span style="color: #e25555">&hearts;</span> in Kwangtung.
      <a href="/log">View Log.</a>
      <a href="/api/logout">Logout.</a>
    </footer>
  </div>
  <script src="/assert/js/jquery.min.js"></script>
  <script src="/assert/js/bootstrap.min.js"></script>
  <script src="/assert/js/bootbox.all.min.js"></script>
  <script>
    function deleteChannel(id, name) {
      bootbox.confirm({
        title: "Delete channel",
        message: "Do you want to delete the channel \""+ name +"\" ?",
        callback: result=> {
          if (result) {
            location.href = "/api/delchannel?id=" + id
          }
        }
      })
    }

    function updateChannel(id, name, url, proxy) {
      bootbox.confirm('<div><b>Edit channel</b></div>\
      <div class="card-body">\
        <form role="form" id="chform" action="/api/updatechannel" method="POST">\
          <div class="form-group">\
            <label for="channelName">Name</label>\
            <input type="text" class="form-control" id="channelName" name="name" value="'+name+'" required />\
          </div>\
          <div class="form-group">\
            <label for="channelLiveURL">URL</label>\
            <input type="text" class="form-control" id="channelLiveURL" name="url" value="'+url+'" required />\
          </div>\
          <div class="form-check">\
            <input type="checkbox" id="channelProxy" class="form-check-input" name="proxy" value="'+proxy+'" '+(proxy?"checked":"")+'/>\
            <label class="form-check-label" for="channelProxy">Proxy stream </label>\
          </div>\
          <input type="hidden" name="id" value="'+id+'"/>\
        </form>\
      </div>', (result) => {
        if (result) {
          $("#chform").submit();
        }
      })
    }
    $("#auto-fill-button").click(function () {
      $("#inputBaseURL").val(window.location.protocol + "//" + window.location.host)
    })
    $("#allow-edit-button-cmd,#allow-edit-button-args").click(function () {
      bootbox.confirm({
        title: "Warning",
        message: "This field shall not be manually changed.",
        buttons: {
          confirm: {
            label: "Edit Anyway",
            className: "text-white btn-danger",
          },
          cancel: {
            label: "Okay",
            className: "btn-outline-secondary",
          },
        },
        callback: function (result) {
          if (result) {
            $("#inputCommand,#inputArgs").prop("disabled", false)
          }
        },
      })
    })
  </script>
</body>

</html>